<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src="../static/profile.jpg" alt="profile" />
        </div>
        <div class="nm-ctn">
          <h1>Kanishkar Jairam J</h1>
          <p>Web Developer and Software Developer</p>
          <div class="sum-btn">
            <button onclick="window.print()" class="bt1">Download Cv</button>
            <a href="contact.html"><button class="bt2">Hire me</button></a>
          </div>
          <div class="social-icons">
            <a href="mailto:hariharanvenky234@gmail.com"
              ><img
                src="https://img.icons8.com/metro/23/ffffff/secured-letter.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            To obtain a challenging position in my dream company in order to
            expand my experience and skills and work towards the overall growth
            of the organisation
          </p>
        </div>
        <div class="det-sec">
          <span class="ct-gry">
            <p>Age</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </span>
          <span class="ct-det">
            <p>22</p>
            <p>kanishrc@gmail.com</p>
            <p>+91 9025252407</p>
            <p>Salem,Tamil Nadu, India</p>
          </span>
        </div>
      </div>
      <div class="skills">
        <h1>Technical Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
          <div>
            <legend>JavaScript</legend>
            <div class="bar3 bar"></div>
          </div>
          <div>          <div>
            <legend>Java</legend>
            <div class="bar5 bar"></div>
          </div>
        </div>
      </div>
      
    
      <div class="certificate">
        <h1>Certification:</h1>
        <div class="cert-cont">
          <ul>
            <li>LAHTP-Basics Of Programming</li>
            <li>Software Testing - Nptel</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>